🔗 <b>UTM-посилання</b>

<b>Параметри:</b>
Джерело: <code>{{ source }}</code>
Кампанія: <code>{{ campaign }}</code>
Контент: <code>{{ content }}</code>

<code>{{ start_link }}</code>

Надішліть це посилання користувачам, щоб відстежувати джерело переходу.
